label {
    display: block;
    text-align: left;
    margin-top: 1rem;
    font-size: 38px;
}

input {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    height: 2.5rem;
    width: 22rem;
    font-size: 26px;
    align-items: left;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
    outline: none;
    box-shadow: 0 0 5px black;
    transform: scale(1.01);
}

#trans-button, #payment, #trans-id-form, #loading {
    display: none;
}

#qr {
    margin: 1rem;
}

img {
    border-radius: 0px;
    box-shadow: none;
}
